

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Admin Panel</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Admin/assets/img/favicon.png" rel="icon">
    <link href="~/Admin/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="~/Admin/assets/img/user2.png rel="icon">
    <link href="~/Admin/assets/img/user2.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
     <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/YouTube.AspNetCore.Tutorial.Basic.styles.css" asp-append-version="true" />
     <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- Vendor CSS Files -->
    <link href="~/Admin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Admin/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Admin/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Admin/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/Admin/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/Admin/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Admin/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Toastr CSS -->


    <!-- Template Main CSS File -->
    <link href="~/Admin/assets/css/style.css" asp-append-version="true" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="/Dashboard" class="logo d-flex align-items-center">
                <img src="~/Admin/assets/img/logoCruzDelSur.png" alt="" style="max-width: 200px">
@*                 <span class="d-none d-lg-block">@User.Identity!.Name</span>
 *@            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

   @*      <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar --> *@

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">

@*                         <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
 *@                        <span class="d-none d-md-block dropdown-toggle ps-3" style="font-size:15px">@User.Identity!.Name</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>@User.Identity!.Name</h6>
                            <span>
                                @User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Role)?.Value
                            </span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" asp-area="" asp-controller="AuthenticationUser" asp-action="UserEdit">
                                <i class="bi bi-gear"></i>
                                <span>Ajustes</span>
                            </a>
                        </li>
                   @*      <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" asp-area="User" asp-controller="AuthenticationUser" asp-action="UserEdit2">
                                <i class="bi bi-gear"></i>
                                <span>User Settings 2</span>
                            </a>
                        </li> *@
                
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" asp-area="" asp-controller="Help" asp-action="Index">
                                <i class="bi bi-question-circle"></i>
                                <span>¿Necesitas ayuda?</span>
                            </a>
                        </li>
     
                        <li>
                            <hr class="dropdown-divider">
                        </li>   

                        <li>
                            <a class="dropdown-item d-flex align-items-center" asp-area="" asp-controller="AuthenticationUser" asp-action="LogOut">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Cerrar Sesión</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

@*         @await Component.InvokeAsync("Layout", ViewBag.Id);
 *@
        <!-- Spinner global -->
        <div id="loading-spinner" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255,255,255,0.8); z-index: 1050; justify-content: center; align-items: center;">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Dashboard" &&
                        ViewContext.RouteData.Values["Action"]?.ToString() == "Index" ? "active" : "collapsed")"
                   asp-area="" asp-controller="Dashboard" asp-action="Index">
                    <i class="bi bi-clipboard2-data-fill"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "CuentaCorriente" &&
                        ViewContext.RouteData.Values["Action"]?.ToString() == "Index" ? "active" : "collapsed")"
                   asp-area="" asp-controller="CuentaCorriente" asp-action="Index">
                    <i class="bi bi-currency-dollar"></i>
                    <span>Cuenta Corriente</span>
                </a>
            </li>

            <li class="nav-item">
                <!-- Menú principal "Miembros" -->
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Miembros" ? "" : "collapsed")"
                   data-bs-target="#components-nav"
                   data-bs-toggle="collapse"
                   href="#">
                    <i class="bi bi-people-fill"></i><span>Miembros</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="components-nav" class="nav-content collapse @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Miembros" ? "show" : "")"
                    data-bs-parent="#sidebar-nav">

                    <!-- Opción "Listado Detallado" -->
                    <li>
                        <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Miembros" &&
                                ViewContext.RouteData.Values["Action"]?.ToString() == "GetMiembroList" ? "active" : "")"
                           asp-area="" asp-controller="Miembros" asp-action="GetMiembroList">
                            <i class="bi bi-circle"></i><span>Listado Detallado</span>
                        </a>
                    </li>

                    <!-- Opción "Ex-Miembros" -->
                    <li>
                        <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Miembros" &&
                                ViewContext.RouteData.Values["Action"]?.ToString() == "GetExMiembrosList" ? "active" : "")"
                           asp-area="" asp-controller="Miembros" asp-action="GetExMiembrosList">
                            <i class="bi bi-circle"></i><span>Ex-Miembros</span>
                        </a>
                    </li>
                </ul>
            </li>


            <li class="nav-item">
                <!-- Menú principal "Pagos" -->
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Pagos" ? "" : "collapsed")"
                   data-bs-target="#forms-nav"
                   data-bs-toggle="collapse"
                   href="#">
                    <i class="bi bi-credit-card-fill"></i><span>Pagos</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav" class="nav-content collapse @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Pagos" ? "show" : "")"
                    data-bs-parent="#sidebar-nav">

                    <!-- Opción "Pagos" -->
                    <li>
                        <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Pagos" &&
                                ViewContext.RouteData.Values["Action"]?.ToString() == "GetPagoList" ? "active" : "")"
                           asp-area="" asp-controller="Pagos" asp-action="GetPagoList">
                            <i class="bi bi-circle"></i><span>Pagos</span>
                        </a>
                    </li>
                </ul>
            </li>


            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Organismo" &&
            ViewContext.RouteData.Values["Action"]?.ToString() == "GetOrganismo" ? "active" : "collapsed")"
                   asp-area="" asp-controller="Organismo" asp-action="GetOrganismo" asp-route-id="1026">
                    <i class="bi bi-house-door-fill"></i>
                    <span>Mi Organismo</span>
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Eventos" ? "active" : "collapsed")"
                   href="index.html">
                    <i class="bi bi-calendar-event-fill"></i>
                    <span>Eventos</span>
                </a>
            </li>



         @*    <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "AcercaDe" &&
                        ViewContext.RouteData.Values["Action"]?.ToString() == "Index" ? "active" : "collapsed")"
                   asp-area="" asp-controller="AcercaDe" asp-action="Index">
                    <i class="bi bi-file-earmark-person-fill"></i>
                    <span>Acerca De</span>
                </a>
            </li> *@



            <li class="nav-heading">Settings</li>

            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "AuthenticationUser" &&
                        ViewContext.RouteData.Values["Action"]?.ToString() == "UserEdit" ? "active" : "collapsed")"
                   asp-area="" asp-controller="AuthenticationUser" asp-action="UserEdit">
                    <i class="bi bi-gear-fill"></i>
                    <span>User Settings</span>
                </a>
            </li>


          @*   @if (User.IsInRole("SuperAdmin"))
            {
               *@  <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Admin" &&
                            ViewContext.RouteData.Values["Action"]?.ToString() == "GetUserList" ? "active" : "collapsed")"
                       asp-area="" asp-controller="Admin" asp-action="GetUserList">
                        <i class="bi bi-person-fill"></i>
                        <span>User List</span>
                    </a>
                </li>
            @* } *@


            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Help" &&
                        ViewContext.RouteData.Values["Action"]?.ToString() == "Index" ? "active" : "collapsed")"
                   asp-area="" asp-controller="Help" asp-action="Index">
                    <i class="bi bi-question-circle-fill"></i>
                    <span>Ayuda</span>
                </a>
            </li>

        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">



        @RenderBody()


    </main><!-- End #main -->
    <!-- ======= Footer ======= -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Admin/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/Admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Admin/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="~/Admin/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/Admin/assets/vendor/quill/quill.js"></script>
    <script src="~/Admin/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/Admin/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/Admin/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Admin/assets/js/main.js"></script>



@*     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await Component.InvokeAsync("NToastNotify")
    @RenderSection("Scripts", required: false)

</body>

</html>

    <script>
    // Función para mostrar el spinner
    function showSpinner() {
        document.getElementById('loading-spinner').style.display = 'flex';
    }

    // Función para ocultar el spinner
    function hideSpinner() {
        document.getElementById('loading-spinner').style.display = 'none';
    }

    // Mostrar spinner solo en enlaces que redirigen y están relacionados con la sección "Miembros"
    document.querySelectorAll('a').forEach(link => {
        link.addEventListener('click', function (e) {
            // Verifica si el enlace es del menú desplegable (evita spinner)
            if (link.hasAttribute('data-bs-toggle')) {
                return; // No hacer nada si es un menú desplegable
            }

            // Solo activar el spinner para enlaces de la sección "Miembros"
            if (link.href.includes("Miembros")) {
                showSpinner();
            }
        });
    });

    // Mostrar el spinner antes de recargar la página (si es necesario)
    window.addEventListener('beforeunload', function () {
        showSpinner();
    });

</script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

<!-- jQuery (si no está incluido en tu proyecto) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Toastr JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    var _toasty = {
        AddSuccessToastMessage: function (msg) {
            toastr.success(msg, "Éxito");
        },
        AddErrorToastMessage: function (msg) {
            toastr.error(msg, "Error");
        }
    };
</script>
