@model List<VMPago>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Dashboard</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Admin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Admin/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Admin/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Admin/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/Admin/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/Admin/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Admin/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" asp-append-version="true" rel="stylesheet">
    <link href="~/Admin/assets/scss/_card.scss" asp-append-version="true" rel="stylesheet">


    <style>
        #main {
            margin-top: 15px;
            padding: 30px 30px;
            transition: all 0.3s;
        }

        .dashboard .recent-sales {
            font-size: 16px;
        }
    </style>

</head>

<body>
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Dashboard</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">
            <div class="row justify-content-center">

                <!-- Left side columns -->
                <div class="col-lg-8">
                    <div class="row">

                        <!-- Sales Card -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card sales-card">

                                <div class="card-body">
                                    <h5 class="card-title">Miembros <span>| All Time</span></h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-people"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>@ViewBag.Miembros</h6>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!-- End Sales Card -->
                        <!-- Revenue Card -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card">

                                <div class="card-body">
                                    <h5 class="card-title">Pagos <span>| All Time</span></h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-currency-dollar"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>@ViewBag.Pagos</h6>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!-- End Revenue Card -->
                        <!-- Customers Card -->
                        <div class="col-xxl-4 col-xl-12">

                            <div class="card info-card customers-card">

                                <div class="card-body">
                                    <h5 class="card-title">Usuarios <span>| All time</span></h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-person-gear"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>@ViewBag.Usuarios</h6>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div><!-- End Customers Card -->
                   
                        <!-- Recent Sales -->
                        <div class="col-12">
                            <div class="card recent-sales overflow-auto">

                                <div class="card-body">
                                    <h5 class="card-title">Pagos Recientes</h5>

                                    <table class="table table-borderless datatable">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Miembro</th>
                                                <th scope="col">Categoria</th>
                                                <th scope="col">Modalidad</th>
                                                <th scope="col">Monto</th>
                                                <th scope="col">Estado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <th scope="row"><a href="#">#@item.Id</a></th>
                                                    <td><span class="badge border-primary border-2 text-dark" style="font-size: 15px">@item.Miembro.Nombre</span></td>
                                                    <td>
                                                        <a href="#" class="text-primary">
                                                            @foreach (var detalle in item.ListaDetalles)
                                                            {
                                                                <span>@detalle.CategoriaPago?.CategoriaNombre</span>
                                                                <br />
                                                            }
                                                        </a>
                                                    </td>
                                                    <td>@item.TipoModalidad</td>
                                                    <td>$@item.Monto</td>
                                                    @if(item.Autorizacion.EstadoAutorizacion.Estado == "Autorizado")
                                                    {
                                                         <td><span class="badge bg-success">@item.Autorizacion.EstadoAutorizacion.Estado</span></td>
                                                    }
                                                    else @if (item.Autorizacion.EstadoAutorizacion.Estado == "Pendiente")
                                                    {
                                                        <td><span class="badge bg-warning">@item.Autorizacion.EstadoAutorizacion.Estado</span></td>
                                                    }
                                                    else
                                                    {
                                                        <td><span class="badge bg-danger">@item.Autorizacion.EstadoAutorizacion.Estado</span></td>
                                                    }                                                 
                                                </tr>                                  
                                            }                                
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!-- End Recent Sales -->
                        <!-- Top Selling -->

                    </div>
                </div><!-- End Left side columns -->
        </section>
    </main>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Template Main JS File -->
    <script src="~/Admin/assets/js/main.js"></script> 

</body>
</html>


